#cartela {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#cartela table {
    border: 1px solid aliceblue;
    margin: 10px;
}

#cartela thead tr {
    background-color: aquamarine;
}

#cartela table tr {
    font-size: 45px;
    margin: 3px;
}

#cartela table tr td {
    width: 75px;
    text-align: center;
    border: 1px solid black;
}


#cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho button{
    margin: 10px;
    background-color: aquamarine;
    width: 200px;
    height: 60px;
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
}

#sorteados {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

#sorteados span {
    font-size: 30px;
    text-align: center;
    background-color: aquamarine;
    padding: 2px;
    height: 40px;
    margin: 5px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
}