*{
    margin: 0px;
}

:root{
    --principal: bisque;
    --secundaria: #363612;
}

body{
    background-color: var(--principal);
}

.container{
    background-color: var(--principal);
}

#header{
    height: 250px;
    width: 100%;
    text-align: left;
    background: url("https://nova-escola-producao.s3.amazonaws.com/EBUupJuWp5ttKkmKf5PZXN2rdxsMJ376JtzZaTE7MQRdbWVNrt5CsVgFGaDK/gettyimages-663622960.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto {
    border-radius: 50%;
    margin: 30px;
}

.textos {
    display: block;
    margin-top: 35px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: aquamarine;
    font-family: 'Syne Mono' , monospace;
}
.cargo {
    font-family: 'Pacifico' , cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;

}
.menu ul{
    height: 50px;
    background-color: blanchedalmond;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    }
        .menu ul li{
            display: inline;
        }

        .menu ul li a{
            padding: 5px 10px;
            display: inline-block;

            background-color: rgb(33, 7, 94);
            color: rgb(220, 255, 228);
            text-decoration: none;
            border-bottom: 3px solid rgb(138, 30, 210);
            font-size: 20px;

        }
        .menu ul li a:hover{
            color: rgb(43, 226, 113);
            background-color: rgb(255, 238, 0);
            border-bottom: 3px solid rgb(0, 204, 255);
        }
    
    #main{
        height: 400px;
        background-color: rgb(255, 255, 255);
        display: block;
        position: relative;
        max-width: 600px;
        margin: auto;
    }

        #main p{
            margin-top: 30px;
            max-width: 600px;
            text-align: center;
            font-family: 'Pacifico', cursive;

        }
    .footer{
        height: 100px;
        background-color: rgb(238, 238, 238);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: 'Pacifico', cursive;
        }